services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USERNAME: example
      POSTGRES_PASSWORD: example
    ports:
      - 5432:5432

  spring:
    build: 
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - 8080:8080
      